/* --------------------INTERNSHIP PAGE DESIGN----------------------------------- */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */


/* font-integation */

@font-face {
    src: url('../fonts/Quantico/Quantico-Bold.ttf');
    font-family: Quantico-Bold;
}

@font-face {
    src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
    font-family: OpenSans-Regular;
}

@font-face {
    src: url('../fonts/Open_Sans/OpenSans-LightItalic.ttf');
    font-family: OpenSans-LightItalic;
}

@font-face {
    src: url(../fonts/roboto/Roboto-Regular.ttf);
    font-family: Roboto-Regular;
}




/* common pattern */
.c_p {
    font-family: OpenSans-Regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.c_h1 {
    font-family: Quantico-Bold;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.mt-100 {
    margin-top: 100px;
}

.mt-140 {
    margin-top: 140px;
}

.mt-50 {
    margin-top: 50px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-1150 {
    margin-bottom: 1150px;
}

.pl-80 {
    padding-left: 80px;
}

.pr-80 {
    padding-right: 80px;
}

/* common pattern */

/* oportunity  start*/
.opportunity {
    height: 600px;
    border: 0.6px solid #55E163;
    border-radius: 8px 0 0 8px;
    -o-border-radius: 8px 0 0 8px;
    -ms-border-radius: 8px 0 0 8px;
    border-right: 0;
}

.left p {
    text-align: justify;
}

/* .wrap {
    position: relative;
} */

.right {
    position: relative;
    top: -100px;
}

.box {
    height: 200px;
    width: 100%;
    display: -webkit-box;
    display: flex;
    -o-display: flex;
    -ms-display: flex;
    -moz-display: flex;
    -webkit-display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;

}

.box h2 {
    font-family: OpenSans-Regular;
    font-size: 18px;
    font-weight: 400;
    transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
}

.one {
    background: #464646;
}

.two {
    background: #323232;
}

.three {
    background: #1c1c1c;
}

.four {
    background: -webkit-gradient(linear, left top, left bottom, from(#272727), to(rgba(75, 75, 75, 0)));
    background: -o-linear-gradient(top, #272727 0%, rgba(75, 75, 75, 0) 100%);
    background: linear-gradient(180deg, #272727 0%, rgba(75, 75, 75, 0) 100%);
}

.five {
    background: #464646;
}



.six {
    background: #323232;
}

.box:hover {
    -webkit-transform: scale(1.1) translateY(-10px);
    -ms-transform: scale(1.1) translateY(-10px);
    transform: scale(1.1) translateY(-10px);


}

.box h2:hover {
    font-size: 22px;
    cursor: pointer;
    color: #55E163;
}

/* opportuniry  end*/

/* contact  start*/
.information {
    overflow: hidden;
    position: relative;
}

input {
    margin: 15px 25px 0 0;
    padding: 0 20px;
    font-family: OpenSans-LightItalic;
    font-size: 16px;
    font-weight: 300;
    color: white;
    height: 50px;
    width: 350px;
    background: none;
    border: 0;
    outline: none;
    border: 1px solid #68FE5F;
    border-radius: 8px;
    -o-border-radius: 8px 0 0 8px;
    -ms-border-radius: 8px 0 0 8px;
}

textarea {
    padding: 20px;
    margin-top: 15px;
    font-family: OpenSans-LightItalic;
    font-size: 16px;
    font-weight: 300;
    color: white;
    width: 88%;
    border: 0;
    background: none;
    outline: none;
    border: 1px solid #68FE5F;
    border-radius: 8px;
    -o-border-radius: 8px 0 0 8px;
    -ms-border-radius: 8px 0 0 8px;

}

.in-btn {
    position: absolute;
    opacity: 0;
    margin-top: 300px;
}

.new {
    margin-top: 15px;
    padding: 10px 10px;
    font-family: OpenSans-LightItalic;
    font-size: 16px;
    font-weight: 300;
    color: rgb(138, 136, 136);
    border: 1px solid #68FE5F;
    border-radius: 8px;
    height: 50px;
    width: 350px;
    display: inline-block;
    cursor: pointer;
    margin-left: 1px;
}

.sub-btn {
    font-family: Roboto-Regular;
    font-weight: 400;
    color: black;
    background: -webkit-gradient(linear, left top, right top, color-stop(-10.29%, #68FE5F), color-stop(48.87%, rgba(81, 254, 149, 0.63222)), color-stop(150.57%, rgba(41, 255, 242, 0)));
    background: -o-linear-gradient(left, #68FE5F -10.29%, rgba(81, 254, 149, 0.63222) 48.87%, rgba(41, 255, 242, 0) 150.57%);
    background: linear-gradient(90deg, #68FE5F -10.29%, rgba(81, 254, 149, 0.63222) 48.87%, rgba(41, 255, 242, 0) 150.57%);
    border: 1px solid #000000;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 8px;
    width: 175px;
    height: 50px;
    margin: 0 50px;
    border: 0;
    outline: none;
}

.sub-btn:hover {
    background: -webkit-gradient(linear, right top, left top, color-stop(-10.29%, #68FE5F), color-stop(48.87%, rgba(81, 254, 149, 0.63222)), color-stop(150.57%, rgba(41, 255, 242, 0)));
    background: -o-linear-gradient(right, #68FE5F -10.29%, rgba(81, 254, 149, 0.63222) 48.87%, rgba(41, 255, 242, 0) 150.57%);
    background: linear-gradient(-90deg, #68FE5F -10.29%, rgba(81, 254, 149, 0.63222) 48.87%, rgba(41, 255, 242, 0) 150.57%);
}

/* contact end */

/* convinence  start*/

span {
    margin: 0 20px;
    font-family: Roboto-Regular;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
}

ul {
    list-style: none;

}

ul li {
    margin: 20px 0;
}


ul li:hover i {
    color: #68FE5F;

}

/* convinence end */